/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  }

*, *::before, *::after{
  box-sizing: inherit;
  }

body{
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color:  #102746;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

/* Header styles start */

.header {
  position: fixed; /* фиксируем наш хедер при скроллингке */
  top: 0; /* прибьём хедер к верхней части */
  left: 0;
  width: 100%; /* чтобы занимал 100% ширины экрана */
}
.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list{
  display: flex;
  flex-wrap: wrap;
}
.header__item{
  margin-right: 82px;
}
.header__item:last-child{
  margin-right: 0;
}
.header__link{
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none; /* убирает нижнее подчёркивание у ссылок */
}
.header__link:hover, .header__link:focus, .header__link:active { /* при наведении, выборе табом и нажатой */
  opacity: .75;
}

/* Header styles end */



/* Intro styles start */

.intro{
  min-height: 100vh; /* vh в CSS — единица измерения, равная 1% от высоты окна просмотра (viewport). Это относительная единица, которая позволяет задавать размер элементов относительно размеров окна браузера, то есть видимой части документа.*/
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
}
.intro__title{
  max-width: 619px; /* ограничиваем, чтобы перенести на вторую строчку*/
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}
.intro__subtitle{
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 59px;
}
.search-form__info{
  display: flex;
  flex-wrap: wrap;
}
.search-form__field{
  width: 297px;
  background: transparent url(../img/svg/circle-icon.svg) no-repeat left 7px; /* transparent - делает бг прозрачным*/
  background-size: 20px;
  border: 0; /* обнуляем края инпутов */
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px; /* чтобы вводимый текст был с отсутопом (20px кружок + 23px от кружка до текста */
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.search-form__field:active, .search-form__field:hover, .search-form__field:focus{
  outline: 0;
  outline-offset: 0;
}

.search-form__submit{
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background:#1B7DFF;
  border: 0;
  /* border-radius: 30px; */
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
  background: #1469db;
  cursor: pointer; /* По умолчанию браузер не меняет внешний вид курсора при наведении мыши на кнопку, и если не прописать это значение, курсор не изменится. */
}
/* Intro styles end */




